* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: verdana, arial, sans-serif;
	font-size: 9pt;
	color: rgb(77,77,77);
	line-height: 1.2em;
}

html {	
	background: linear-gradient(to bottom,rgba(0,0,0,0.5) 0%, rgba(0,55,100, 1.0) 100%);
	background-color :rgb(0,55,100);
	background-repeat: repeat-x;
	background-size: 100% 100px;
}

body {
	line-height: 1.2em;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

p {
	margin-bottom: 2em;
	max-width: 600px;
	line-height: 1.2em;
}

main button {
	margin: 2px;
	padding: 6px;
	border-radius: 6px;
	background-color: #FBFBFB;
	background: linear-gradient(to bottom,rgb(255,255,255)  80%, rgb(240,240,240) 100%);
	border: solid 1px #A0A0A0;
	cursor: pointer;
	box-shadow: 1px 2px 0px rgba(0,0,0,0.05);
}

main button:focus {
	border: solid 1px #4d4d4d;
	background: linear-gradient(to bottom,rgb(240,240,240)  70%, rgb(220,220,220) 100%);
	outline: none;
}

main button:active {
	border: solid 1px #4d4d4d;
	background: linear-gradient(to bottom,rgb(230,230,230)  70%, rgb(250,250,250) 100%);
	outline: none;
}


[v-cloak] {
	display: none;
}

li {
	list-style-type: disc;
	margin-left: 20px;
}

h1 {
	font-size: 17pt;
	padding: 10px;
	padding-left: 0px;
	display: inline-block;
	font-weight: lighter;
}

h2 {
	font-size: 11pt;
	margin-bottom: 10px;
	margin-top: 10px;
	display: block;
}

h3 {
	font-size: 9pt;
	white-space: nowrap;
	text-overflow: ellipsis;
}

aside {
	width: 230px;
	position: absolute;
	left: 0px;
	top: 0px;
	height: calc(100% - 20px);
	margin: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #EFEFEF;
	border: solid 1px rgba(0,0,0,0.2);
	box-shadow: inset 2px 2px 2px rgba(0,0,0,0.05);
	border-radius: 6px;
}

article {
	padding: 15px;
	width: calc(100% - 250px);
	position: absolute;
	left: 250px;
	top: 0px;
	height: 100%;
	overflow: hidden;
	background-color: #FBFBFB;
	padding-left: 5%;
	padding-right: 5%;
}

.catena-peer, .catena-block, aside li {
	display: block;
	padding: 10px;
	width: 100%;
	background: linear-gradient(to bottom,rgba(0,55,100, 0.01)  0%, rgba(0,55,100, 0.1) 100%);
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: solid 1px rgba(0,0,0, 0.2);
	margin: 0px;
	cursor: pointer;
}

.catena-block.selected, aside li.selected {
	background-color: rgba(0,55,100,0.2);
}

.catena-ajax-block {
	display: block;
	margin: 0px;
}

.catena-chain {
	display: block;
	overflow-y: scroll;
	height: 100%;
}

.catena-peer.on {
	background-color: rgba(0,155,0,0.3);
}

table {
	border-collapse: collapse;
	border: none;
	width: 100%;
	display: block;
}

table th {
	font-weight: bold;
	background-color: rgba(0,55,100,1.0);
	color: white;
}

table tr td, table tr th {
	padding: 5px;
	vertical-align: top;
	text-align: left;
}

table tr {
	padding: 5px;
	border: none;
	border-collapse: collapse;
}

table tr:hover {
	background-color: #E0E0E0 !important;
}

table tr:nth-child(2n+1) {
	background-color: #EFEFEF;
}

abbr {
	border-bottom: none;
	text-decoration: none;
	font-family: Courier New, Courier, monospace;
}

details summary {
	outline: none;
	cursor: pointer;
}

details {
	margin-top: 5px;
	margin-bottom: 5px;
}

nav {
	padding: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
	height: 50px;
	overflow: hidden;
}

input {
	padding: 3px;
}

nav h1, nav span, nav input, nav, nav li {
	color: rgba(255,255,255,0.6);
	text-overflow: ellipsis;
	white-space: nowrap;
}

nav ul li {
	display: inline-block;
	margin-left: 0px;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
}

nav img.logo {
	height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	margin-right: 10px;
}

nav button, nav input, th button {
	background-color: transparent;
	border: solid 1px rgba(255,255,255,0.6);
	color: rgba(255,255,255,0.6);
	border-radius: 4px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

nav button {
	cursor: pointer;
}

nav input {
	background-color: rgba(255,255,255,0.2);
}

nav button:hover {
	color:white;
	border:solid 1px white;
}

main {
	display: block;
	position: absolute;
	top: 50px;
	width: 100%;
	height: calc(100% - 50px);
	overflow: hidden;
}

a i {
	color: rgba(0,55,100,1.0);
}

a:hover i {
	color: rgba(0,55,255,1.0);
}

dl {
	display: block;
	width: 100%;
	padding: 5px;
	padding-left: 0px;
}

dl dt {
	display: block;
	width: 100%;
	padding: 5px;
	padding-left: 0px;
	line-height: 1.2em;
	margin: 0px;
	text-align: left;
	font-weight: bold;
	color: #4d4d4d;
}

dl dd {
	display: block;
	width: 100%;
	clear: right;
	padding: 5px;
	margin: 0px;
	padding-left: 15px;
}

dl dt i {
	color: #4d4d4d;
}

 .list-enter-active, .list-leave-active {
	transition-property: opacity, transform;
	transition-duration: 1.0s;
}

.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
	opacity: 0;
	transform: translateY(-50px); /* scaleY(0.5);*/
}

.list-move {
	transition: transform 1s;
  }
  
  code {
	  font-family: Courier New, Courier, monospace;
  }

  h1 abbr, h1 code {
	  font-size: 17pt;
  }

.catena-tabs {
	display: block;
	width: calc(100% - 10px);
	height: calc(100% - 45px);
	margin: 5px;
}

.catena-tabs > div {
	display: block;
	width: 100%;
	height: 100%;
}

.catena-tabs > ul {
	display: block;
	margin: 0px;
}

.catena-tabs > ul > li {
	display: inline-block;
	min-width: 75px;
	margin: 0px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	color: rgba(255,255,255,0.7);
	cursor: pointer;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.catena-tabs > ul > li.selected {
	background-color: #FBFBFB;
	color: rgb(77,77,77);
}

.catena-tabs .catena-tab {
	display: none;
	position: relative;
	background-color: #FBFBFB;
	border-radius: 6px;
}

.catena-tabs.first-tab-selected .catena-tab {
	border-top-left-radius: 0px;
}

.catena-tabs .catena-tab.selected {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

textarea.catena-sql, textarea.catena-code {
	width: 100%;
	min-height: 100px;
	font-family: Courier New, Courier, monospace;
}

.catena-query table {
	display: block;
	width: 100%;
}

.catena-query .null {
	color: #A0A0A0;
	font-size: 0.8em;
	vertical-align: middle;
}

th i.fa {
	color: white;
}

th code, th a {
	color: white;
}

.catena-transaction {
	width: auto;
	box-shadow: inset 2px 2px 2px rgba(0,0,0,0.05);
	background-color: #EFEFEF;
	padding: 5px;
	padding-left: 15px;
	border-radius: 6px;
}

button:disabled {
	opacity: 0.5;
}

article h3 {
	color: rgba(0,0,0,0.5);
	margin-bottom: 10px;
	margin-top: 10px;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.8);
}

.catena-expander {
	display: inline-block;
}

.catena-expander.expanded {
	display: block;
}

.catena-expander > button {
	margin-left: 5px;
}

.catena-expander > button.cancel {
	float: right;
	border: none;
	background: transparent;
	box-shadow: none;
}

.catena-expander > button.cancel i {
	color: red;
}

.catena-expander.expanded > button.handle {
	border: solid 1px #A0A0A0;
	border-bottom: solid 1px white;
	box-shadow: none;
	background: white;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-bottom: -1px;
	z-index: 2;
}

.catena-expander > div {
	background-color: white;
	border: solid 1px #A0A0A0;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
	border-radius: 6px;
	border-top-left-radius: 0px;
	padding: 5px;
	margin: 5px;
	margin-top: 0px;
}

@media screen and (max-width: 480px) {
	aside {
		display: block;
		width: calc(100% - 20px);
		height: 150px;
		position: relative;
	}

	article {
		width: 100%;
		left: 0px;
		position: relative;
	}
}

main center {
	color: white;
	top: 10%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

main center i {
	color: rgba(253,204,0,1.0);
}

p.info, p.error {
	display: block;
	border: solid 1px rgba(153,204,0,0.7);
	border-radius: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: linear-gradient(to bottom,rgba(153,204,0,0.4)  20%, rgba(153,204,0,0.5) 40%);
	box-shadow: inset 1px 2px 0px rgba(0,0,0,0.05);
	padding: 5px;
	text-shadow: 0px 1px rgba(255,255,255,0.5);
}

p.error {
	border: solid 1px rgba(236,0,0,0.7);
	background: linear-gradient(to bottom,rgba(236,0,0,0.3)  20%, rgba(236,0,0,0.5) 40%);
}

.catena-hash .catena-hash-fingerprint {
	transition-property: opacity, padding-top;
	transition-duration: 0.5s;
	opacity: 0;
	padding-top: 5px;
}

.catena-hash.expanded .catena-hash-fingerprint {
	transition-property: opacity, padding-top;
	transition-duration: 0.5s;
	opacity: 1;
	padding-top: 0px;
}

.catena-hash .catena-hash-fingerprint > div:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.catena-hash .catena-hash-fingerprint > div:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}