* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: verdana, arial, sans-serif;
	font-size: 9pt;
	color: rgb(77,77,77);
	line-height: 1.2em;
}

html {
	background-color: #FEFEFE;
}

body {
	line-height: 1.2em;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

main button {
	padding: 6px;
	border-radius: 6px;
	background-color: white;
	border: solid 1px #A0A0A0;
	cursor: pointer;
}

main button:hover {
	background-color: #EFEFEF;
}

main button:focus {
	border: solid 1px #4d4d4d;
	outline: none;
}

[v-cloak] {
	display: none;
}

li {
	list-style-type: disc;
	margin-left: 20px;
}

h1 {
	font-size: 13pt;
	padding: 10px;
	padding-left: 0px;
	display: inline-block;
}

h2 {
	font-size: 11pt;
	margin-bottom: 10px;
	margin-top: 10px;
	display: inline-block;
}

h3 {
	font-size: 9pt;
	white-space: nowrap;
	text-overflow: ellipsis;
}

aside {
	width: 230px;
	position: absolute;
	left: 0px;
	top: 0px;
	height: calc(100% - 70px);
	margin: 10px;
	overflow: hidden;
	background-color: #EFEFEF;
	border: solid 1px rgba(0,0,0,0.2);
	box-shadow: inset 2px 2px 2px rgba(0,0,0,0.05);
	border-radius: 6px;
}

article {
	padding: 15px;
	width: calc(100% - 250px);
	position: absolute;
	left: 250px;
	top: 0px;
	height: 100%;
	overflow: hidden;
	background-color: white;
	padding-left: 5%;
	padding-right: 5%;
}

.catena-peer, .catena-block, aside li {
	display: block;
	padding: 10px;
	width: 100%;
	background: linear-gradient(to bottom,rgba(0,55,100, 0.01)  0%, rgba(0,55,100, 0.1) 100%);
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: solid 1px rgba(0,0,0, 0.2);
	margin: 0px;
	cursor: pointer;
}

.catena-block.selected, aside li.selected {
	background-color: rgba(0,55,100,0.2);
}

.catena-ajax-block {
	display: block;
	margin: 0px;
}

.catena-chain {
	display: block;
	overflow-y: scroll;
	height: 100%;
}

.catena-peer.on {
	background-color: rgba(0,155,0,0.3);
}

table {
	border-collapse: collapse;
	border: none;
	width: 100%;
	display: block;
}

table th {
	font-weight: bold;
	background-color: rgba(0,55,100,1.0);
	color: white;
}

table tr td, table tr th {
	padding: 5px;
	vertical-align: top;
	text-align: left;
}

table tr {
	padding: 5px;
	border: none;
	border-collapse: collapse;
}

table tr:nth-child(2n+1) {
	background-color: #EFEFEF;
}

abbr {
	border-bottom: none;
	text-decoration: none;
	font-family: Courier New, Courier, monospace;
}

details summary {
	outline: none;
	cursor: pointer;
}

details {
	margin-top: 5px;
	margin-bottom: 5px;
}

nav {
	background-color :rgb(0,55,100);
	padding: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
	height: 50px;
}

nav h1, nav span, nav input, nav {
	color: rgba(255,255,255,0.6);;
}

nav button, nav input, th button {
	background-color: transparent;
	border: solid 1px rgba(255,255,255,0.6);
	color: rgba(255,255,255,0.6);
	border-radius: 4px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

nav button {
	cursor: pointer;
}

nav input {
	background-color: rgba(255,255,255,0.2);
}

nav button:hover {
	color:white;
	border:solid 1px white;
}

main {
	display: block;
	position: absolute;
	top: 50px;
	width: 100%;
	height: calc(100% - 50px);
	overflow: hidden;
}

a i {
	color: rgba(0,55,100,1.0);
}

a:hover i {
	color: rgba(0,55,255,1.0);
}

dl {
	display: block;
	width: 100%;
	padding: 5px;
	padding-left: 0px;
}

dl dt {
	display: inline-block;
	width: 20%;
	padding: 5px;
	padding-left: 0px;
	vertical-align: top;
	margin: 0px;
}

dl dd {
	display: inline-block;
	width: 79%;
	clear: right;
	padding: 5px;
	margin: 0px;
}

dl dt i {
	color: rgba(0,0,0,0.5);
}

 .list-enter-active, .list-leave-active {
	transition-property: opacity, transform;
	transition-duration: 1.0s;
}

.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
	opacity: 0;
	transform: translateY(-50px); /* scaleY(0.5);*/
}

.list-move {
	transition: transform 1s;
  }
  
  code {
	  font-family: Courier New, Courier, monospace;
  }

.catena-tabs {
	display: block;
	width: 100%;
	height: 100%;
}

.catena-tabs > div {
	display: block;
	width: 100%;
	height: 100%;
}

.catena-tabs > ul {
	display: block;
	background-color: rgb(0,55,100);
	border-bottom: solid 2px white;
	margin: 0px;
}

.catena-tabs > ul > li {
	display: inline-block;
	min-width: 75px;
	margin: 0px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	color: white;
	cursor: pointer;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.catena-tabs > ul > li.selected {
	background-color:white;
	color: rgb(77,77,77);
}

.catena-tabs .catena-tab {
	display: none;
	position: relative;
}

.catena-tabs .catena-tab.selected {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.catena-data textarea {
	width: 100%;
	min-height: 100px;
	font-family: Courier New, Courier, monospace;
}

.catena-query table {
	display: block;
	width: 100%;
}

.catena-query .null {
	color: #A0A0A0;
	font-size: 0.8em;
	vertical-align: middle;
}

th i.fa {
	color: white;
}

th code, th a {
	color: white;
}